*{
    margin: 0;
    padding: 0;
}
p, a{
    margin: 0;
    padding: 0;
}
[placeholder]:focus::-webkit-input-placeholder {
    color: transparent !important;
}
.open-btn{
    margin: 0 auto;
    text-align: center;
    margin-top: 20%;
}
.open-btn button{
    width: 200px;
    height: 70px;
    background: green;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
}

.modal{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
    box-sizing: border-box;
    font-size: 0;
 }
.modal-window{
    margin: 0 auto;
    margin-top: 2%;
    width: 702px;
    height: 798px;
    background: #ffffff;
    border:1px solid black;
}

.header{
    background-color: rgb( 227, 234, 245 );
    box-shadow: 0px -1px 0px 0px rgb( 239, 243, 249 );
    width: 702px;
    height: 44px;
    display: inline-block;
}
.header p{
    float: left;
    margin-left: 27px;
    font-size: 16px;
    font-family: Roboto;
    color: rgba( 0, 0, 0, 0.871 );
    line-height: 2.813;
}
.close-modal{
    padding-top: 6px;
    color: rgb( 0, 0, 0 );
    opacity: 0.541;
    width: 44px;
    height: 38px;
    font-size: 30px;
    font-weight: bold;
    float: right;
    text-align: center;
    vertical-align: middle;
}
.close-modal:focus, .close-modal:hover{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    background: #ee5f5f;
}
.notice{
    margin: 0 30px 0 25px;
    width: 649px;
    height: 98px;
    display: inline-block;
    background: #ffffff;
}
.notice img{
    margin: 30px 0 0 0;
    float: left;
}
.notice span{
    margin-left: 8px;
    margin-top: 30px;
    font:13.7px/18px Roboto;
    color: rgba( 0, 0, 0, 0.871 );
    display: inline-block;
    vertical-align: middle;
}

.main{
    width: 702px;
    height: 656px;
}
.main-1{
    width: 702px;
    height: 190px;
    box-sizing: border-box;
    border-bottom: 1px solid #d5d8de;
    border-top: 1px solid #d5d8de;
}
.payment-amount{
    float: left;
    margin-top: 40px;
    margin-left: 72px;
}
.payment-amount p:first-child{
    font-size: 19px;
    font-family: Roboto;
    color: rgba( 0, 0, 0, 0.871 );
    font-weight: bold;
    text-align: left;
}
.last-p{
    font-size: 16px;
    font-family: Roboto;
    font-weight: normal;
    line-height: 1.125;
}

.payment-amount input{
    margin-top: 30px;
    padding:3px;
    width: 146px;
    font-size: 16px;
    font-family: Roboto;
    color: rgba( 0, 0, 0, 0.361 );
    line-height: 1.125;
    text-align: left;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
}
.payment-amount input:focus{
    border:none;
    border-bottom: 1px solid #007ff5;
}

.main .main-1 .hidden-reset{
    display: none;
}
.main .main-1 .active{
    display: inline-block;
    width: 152px;
    height: 20px;
}
.main .main-1 .active .last-p{
    margin-left: 4px;
    margin-top: 6px;
    font-size: 13px;
    font-weight: normal;
    color: black;
    float: left;
}
.active .close-modal-hidden{
    color: #007ff5;
    opacity: 0.541;
    width: 20px;
    height: 20px;
    font-size: 25px;
    font-weight: bold;
    float: right;
    text-align: center;
    vertical-align: top;
}
.active .close-modal-hidden:focus, .close-modal-hidden:hover{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.avalable-balance{
    float: right;
    margin-top: 40px;
    margin-right: 72px;
}
.avalable-balance p:first-child{
    font-size: 19px;
    font-family: Roboto;
    color: rgba( 0, 0, 0, 0.871 );
    font-weight: bold;
    text-align: right;
}
.avalable-balance p:last-child{
    font-size: 16px;
    font-family:Roboto;
    color: rgba( 0, 0, 0, 0.871 );
    font-weight: bold;
    text-align: right;
}

.main-2{
    margin: 0 auto;
    width: 649px;
    height: 460px;
}
.main-2 p{
    margin-left: 50px;
    font-family: Roboto;
    color: rgba( 0, 0, 0, 0.871 );
}
.main-2 p:first-child{
    font-size: 19px;
    font-weight:bold;
    margin-top: 30px;
}
.main-2 .choice{
    width: 648px;
    height: 350px;
    margin-top: 30px;
}
.choice .div-choice{
    width: 210px;
    height: 60px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-bottom: 20px;
}
.choice .div-choice:last-child{
    height: 70px;

}
.choice .div-choice img{
    margin-left: 20px;
    vertical-align: middle;
    padding-bottom: 5px;
}
.div-choice span{
    padding-top: 5px;
    margin-left: 45px;
    font-size: 16px;
    font-family: Roboto;
    color: rgba( 0, 0, 0, 0.361 );
    line-height: 1.125;
}
.choice .div-choice-pure{
    padding-top: 5px;

}
.choice .div-choice-pure .div-choice-span{
    margin-left: 20px;
    font-size: 19px;
    font-family: Roboto;
    color: rgba( 0, 0, 0, 0.871 );
    line-height: 0.947;
    padding-bottom: 10px;
}

.choice button{
    margin: 40px 0 0 12px;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Roboto;
    color: #007ff5;
    text-transform: uppercase;
    line-height: 2.813;
    padding:0;
}
.choice .cancel{
    width: 82px;
    height: 39px;
}
.choice .continue:disabled{
    margin-left: 2px;
    width: 98px;
    height: 39px;
    color: rgba( 0, 127, 245, 0.541 );
}

